@media (max-width: 1200px) {
  .container{
    max-width: 960px;
  }
  .tabs-item{
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .container{
    max-width: 740px;
  }
  .tabs{
    flex-wrap: wrap;
  }
  .tabs-item{
    flex-basis: 20%;
    line-height: 2;
  }
  .full-content{
    flex-wrap: wrap;
  }
  .tabs-content{
    margin-bottom: 5%;
  }
  .text{
    font-size: 14px;
  }
  .actors-list{
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .container{
    max-width: 540px;
  }
  .more{
    display: none;
  }
  .tabs-item{
    flex-basis: 33%;
  }
  .tabs-content{
    margin-right: 0;
  }
}

@media (max-width: 578px) {
  .container{
    width: 90%;
  }
  .header{
    flex-wrap: wrap;
  }
  .search{
    flex-basis: 100%;
    order: 3;
    margin-top: 5%;
  }
  .content{
    flex-wrap: wrap;
  }
  .short-info{
    margin-bottom: 5%;
  }
  .actors-list, .actors-title{
    display: none;
  }
  .movie-info{
    flex-wrap: wrap;
  }
  .play{
    flex-basis: 100%;
    margin-top: 10%;
  }
  .poster{
    margin-top: -20%;
    display: inline-block;
    width: 100%;
  }
  .button{
    width: 100%;
  }
  .short-info{
    margin-right: 0;
  }
}